<form action="/quizes/<%= quiz.id %>/answer" method="get">
    <p>Pregunta: <%= quiz.pregunta %></p>
    <input type="text" name="respuesta" placeholder="Responda aqui">
    <input type="submit" value="Enviar">
</form>
<br>
<p>
   <a href="/quizes/<%= quiz.id %>/comments/new">
       <button>Nuevo Comentario</button>
   </a>
</p>

<p>
    <strong>Comentarios:</strong>
</p>
<% for(var index in quiz.comments) { %>
    <% if(quiz.comments[index].publicar || session.user) {%>
        <p>- <%= quiz.comments[index].texto %></p>
        <% if(session.user && !quiz.comments[index].publicar) { %>
            <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.comments[index].id %>/publish">
                <button>Publicar</button>
            </a>
        <% } %>
    <% } %>
<% } %>
<br>